<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AV1_TecPrograma_Uninove</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AV1_TecPrograma_Uninove.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AV1_TecPrograma_Uninove</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

             <p>Durante os meus 3 anos cursando engenharia mecânica, tive a oportunidade de colocar meus conhecimentos em prática
                desenvolvendo alguns projetos integradores: um braço hidráulico, um resfriador de água e um guindaste aranha.
            </p>
            
            <h2>Braço Hidráulico</h2>
            <p>O objetivo desse projeto era construir um braço hidráulico movido por seringas de água, com rotação de 360°, 
                e movimentos de cima para baixo. Com intuito de levantar um cubo de madeira e colocar em uma caixa com o menor tempo, 
                o que resultou em uma conpetição entre os grupos. O meu grupo ganhou em 2º Lugar.
            </p>

            <h2>Resfriador de água</h2>
            <p>Nesse projeto o desafio foi construir um sistema de resfriamento de água. O objetivo era colocar a água em temperatura 
                ambiente de um lado e ela sair -10° da temperatura que entrou instantaneamente, sem uso de reservatorio.
            </p>

            <h2>Guindaste aranha</h2>
            <p>Dentre os outros projetos esse foi o mais complexo. Dessa vez o desafio era construir um guindaste aranha 
                com pernas dobraveis, rotação de 360°, movimentos verticas, executado por um controle programado. 
            </p>

        
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AV1_TecPrograma_Uninove - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
